*.csproj
*.sln
*.userprefs
.idea/
Library/
obj/
Temp/
Gradle/app/build
Gradle/build
Gradle/.gradle
PaidGradle/app/build
PaidGradle/build
PaidGradle/.gradle
*.DotSettings
*.apk
*.apks
*.aab
Gradle/app/src/main/assets
Gradle/app/src/main/jniLibs/armeabi-v7a
Gradle/app/src/main/jniLibs/x86
PaidGradle/app/src/main/assets
PaidGradle/app/src/main/jniLibs/armeabi-v7a
PaidGradle/app/src/main/jniLibs/x86
.DS_Store
local.properties
unity-classes.jar
.consulo
UnityPackageManager/manifest.json
.vs/Raft/v15/.suo
.vs/Raft/v15/sqlite3/storage.ide
Assets/Data/Ui.meta
Assets\AssetBundleBrowser
Assets\AssetBundleBrowser\Editor